@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* Solving from here */

.content{
  margin: auto 0;
  align-self: center;
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.header, .footer{
  padding: 18px;
  display: flex;
  justify-content: space-between
}

.footer{
  background-color: gainsboro;
}

.left-links, .right-links{
  display:flex;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.left-links li, .right-links li{
  list-style-type: none;
}

.left-links li a, .right-links li a{
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.footer .left-links li a, .footer .right-links li a{
  text-decoration: none;
  color: dimgray;
}


.buttons button{
  padding: 8px 12px;
}
